<style>
  .btn-search{
    background-color: #fe424d;
    color: #ffff;
    border-radius: 25px;
    padding: 0 1rem 0 1rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    white-space: nowrap;
  }

  .btn-search:hover {
    background-color: #fe424d;
    color: #fff;
  }

  .btn-search i {
    display: inline;
    margin-right: 0.5rem;
  }

</style>


<nav class="navbar navbar-expand-lg bg-body-white sticky-top">

  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
       
      <div class="navbar-nav">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        
       </div>

       <div class="navbar-nav ms-auto ">
        <form class="d-flex" role="search" method="GET" action="/listings">
          <input class="form-control me-2"
            type="search"
            name="country"
            placeholder="Search any country"
            aria-label="search" />

          <button class="btn btn-search"> <i class="fa-solid fa-magnifying-glass"></i> Search</button>
        </form>
       </div>
       
       <div class="navbar-nav ms-auto">
        <a class="nav-link" href="/listings/new">Add Listing </a>
        <% if(!currUser) { %>

          <a class="nav-link active" aria-current="page" href="/signup"><b> signup </b></a>
          <a class="nav-link" href="/login"><b>Log in </b></a>
         <% } %>
          <% if(currUser) { %>
          <a class="nav-link" href="/logout"><b> Log out </b> </a>
          <% } %>
       </div>

    </div>
  </div>
</nav>