<% layout("/layouts/boilerplate") %>

<style>
    #filters {
        display: flex;
        flex-wrap: wrap;
    }
    .filter {
        text-align: center;
        margin-right: 2rem;
        margin-top: 2rem;
        opacity: 0.7;
    }

    .filter:hover{
        opacity: 1;
        cursor: pointer;
    }

</style>

 <div id="filters">

    <a href="/listings" class="filter">
     <div><i class="fa-solid fa-fire"></i> </div>
     <p>Trending</p>
    </a>

    <a href="/listings?type=rooms" class="filter">
      <div> <i class="fa-solid fa-bed"></i> </div>
      <p>Rooms</p>
    </a>

     <a href="/listings?type=cities" class="filter">
     <div><i class="fa-solid fa-mountain-city"></i> </div>
     <p>iconic cities</p>
    </a>

    <a href="/listings?type=mountain" class="filter">
      <div> <i class="fa-duotone fa-regular fa-mountain"></i> </div>
      <p>Mountains</p>
    </a>

    <a href="/listings?type=castles" class="filter">
      <div> <i class="fa-brands fa-fort-awesome"></i> </div>
      <p>castles</p>
    </a>

      <a href="/listings?type=swimming" class="filter">
      <div> <i class="fa-solid fa-person-swimming"></i> </div>
      <p>swimming pool</p>
    </a>


    <a href="/listings?type=camping" class="filter">
      <div> <i class="fa-solid fa-tent"></i></div>
      <p>camping</p>
    </a>

      <a href="/listings?type=arctic" class="filter">
      <div> <i class="fa-regular fa-snowflake"></i> </div>
      <p>Arctic </p>
    </a>

      <a href="/listings?type=farms" class="filter">
      <div> <i class="fa-solid fa-truck-field"></i></div>
      <p>Farms </p>
    </a>

 </div>

<div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1">
    <% for(let listing of allListing) { %>

    <div class="col mb-4">
        <div class="card listing-card">

            <img
                src="<%= listing.image.url %>"
                class="card-img-top listing-img"
                alt="listingImage"
            >

            <div class="card-body">

                <h5 class="card-title">
                    <%= listing.title %>
                </h5>

                <p class="card-text">
                    &#8377;<%= listing.price.toLocaleString("en-IN") %> / night
                </p>


                <a href="/listings/<%= listing._id %>"
                   class="btn btn-dark">
                    View Details
                </a>

            </div>
        </div>
    </div>

    <% } %>
</div>